@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,600&display=swap');
$black : #010003;
$white : #ffffff;
$red : #FF1214;
$grey : #a79f9f;
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}
html {
font-family:sans-serif;
  font-size: 16px;
}
.sidebar-mobil{
  display: none;
}
.sidebar, .logo {
  position: fixed;
  top: 0;left: 0%;
  width: 20%;
  height: 100vh;
  background: $black;
  font-size: 0.65em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

.nav {
  position: relative;
  margin: 0 4%;
  text-align:left;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  margin-top: 50%;
  
  li {
    position: relative;
    margin: 2.5em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2em;
      color: rgba(255, 255, 255, 0.85);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: $white;
    }
    
    &:not(.active):hover a {
      color: #FF1214;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right,#f0e3e3,$grey,$red)
    }
  }
}  
  
  a {
    position: relative;
  }

  .logo{
    position: absolute;
    top: 8px;
    left:35px;
    width: 90px;
    height: 24%;
    border-radius: 50%;
    filter: brightness(1.5);
    filter: saturate(150%);
  }

  .social-media{
    z-index: 5;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: auto;
  justify-content: space-around;
    justify-items: center;
    margin-top: 68%;
    margin-left: 15%;
    background-attachment: fixed;
    .icon{     
      width: 55%;
    }
  }
 .btn-danger{
   background-color: $red;
  margin-left: 73%;
  width:13%;

}
.modif,.supp,.env{
  background-color: red;
  width:12%;
  color: $white;
  margin-bottom:3%;
  margin-top:1%;
  justify-content: center;
}
.env{
  margin-bottom:3%;
  position: absolute;
  margin-left: 6%;
  width: 7%;
}

hr{
  margin-left: 22%;
}

.img-fluid{
  margin-left: 17%;
  color: #010003;
  width: 34%;
  justify-items: center;
  justify-content: center;
}

p{
  margin-left: 28%;
  width: 340px;
  text-indent: 4%;
  text-transform: none;
  font-weight: normal;
  text-align: left;
}
.card-text{
  margin-left: 44%;
  font-size: 1.1rem;
}

.card-body{
  box-shadow: 2px 2px 2px 2px #e4cece9c;
  width: 75%;
  margin-left: 19%;
  margin-bottom: 3%;
}
.zone-cmt{
  margin-left: 15%;
  width: 90%;
}

label input{
  margin-left: -38px;
  font-size: 1rem;
  color: $black;
  outline: none;
  padding: .8rem 1rem;
  width: 19rem;
  border-radius: 3px;
  border: 2px solid rgba(5,42,78,0.2);
  transition: border-color 0.4s ease;
}

.btn-outline-danger{
  margin-left: 80%;
  margin-right: 0;
}

// page de modification 
.form-group{
  width: 60%;
  margin-left: 30%;
}


@media screen and (max-width: 1024px) {
  html {
      font-size: 14.3px;
    }
    .sidebar-mobil{
  display: none;
}
    .sidebar {
      height: 100%;
      font-size: 0.7em;
    }
    
  .nav {
    margin: 0 4%;
  }

  .nav ul {
    margin-left: 0;
    margin-top: 67%;
    padding-left: 20px;
    
    li {
      margin: 2.2em 0;
    }
  }
  .logo{
    width: 87px;
    height: 20%;
  }

  .social-media{
    margin-top: 40%;
    margin-left: 12%;
    .icon{     
      width: 53%;
    }
  }
  .modif, .supp{
    width: 17%;
  }
  .img-fluid{
    width: 38%;
  }
  .card-text{
    margin-left: 40%;
    font-size: 1rem;
  }
}

@media (max-width  : 980px){
  .sidebar{
    width: 21%;
  }
.modif, .supp{
  width: 17%;
}
.img-fluid{
  width: 41%;
}
.card-text{
  margin-left: 35%;
  font-size: 1rem;
}
.env{
  margin-bottom:3%;
  position: absolute;
  margin-left: 3%;
  width: 11%;
}
.zone-cmt{
  margin-left: 1%;
  width: 90%;
}
p{
  margin-left: 13%;
}
}

@media(max-width : 875px){
  .sidebar{
    font-size: .8em;
    width: 23%;
  }
}

@media (max-width : 780px) {
  .nav ul {
    margin-left: 0;
    margin-top: 47%;
    padding-left: 6px;
    font-size: 7.8px;
  }
  .sidebar{
    width: 21%;
  }
  .logo{
    width: 66px;
    height: 15%;
  }
  .icon{
    width: 59%;
  }
}
 @media(max-width : 760px){
   *{
     font-size: .6rem;
   }
  .nav ul {
    margin-top: 53%;
    font-size: 9.8px;
  }
  .sidebar{
    .icon{
      margin-top: 68%;
    }
  }
  h1{
    margin-left: 28%;
    width: 100%;
  }
  .btn{
    margin-left: 130%;
  }
  hr{
    width: 110%;
    margin-left: 42%;
  }
.card-body{
  width: 89%;
  margin-left: 14%;
}
.img-fluid{
  margin-left: 13%;
  width: 47%;
}
.card-text{
  margin-left: 30%;
  font-size: .8rem;
}
.env{
  margin-left: 1.1%;
  width: 9.5%;
}
.zone-cmt{
  margin-left: -3%;
  width: 90%;
}
p{
  margin-left: 4%;
 }
 .modif, .supp{
  width: 20%;
  margin-left: 10%;
}
}
@media (max-width : 640px){
  .social-media{
    margin-top: 64%;
    margin-left: 12%;
    .icon{     
      width: 63%;
    }
  }
  h1{
    margin-left: 35%;
    font-size: 28px;
    width: 90%;
  }
  .btn{
    margin-left: 140%;

  }
  hr{
    width: 130%;
    margin-left: 47%;
  }
 
  .title{
    font-size: 16px;
    margin-left: 13%;
  }
  p{
    width: 440px;
    text-indent: 4%;
  }
  
  label{
    font-size: 15px;
  } 
  label input{
    margin-left:-53px;
    width: 27rem;
  }
  .card-body{
    width: 100%;
    margin-left: 40%;
  }
  .img-fluid{
    margin-left: 13%;
    width: 50%;
  }
  .card-text, strong{
    margin-left: 30%;
    font-size: 1rem;
  }
  .env{
    margin-left: 1.1%;
    width: 11.5%;
  }
  .zone-cmt{
    margin-left: -10%;
    width: 90%;
  }
  p{
    font-size: 1rem;
    margin-left: 1%;
   }
   .modif, .supp{
    width: 20%;
    margin-left: 10%;
  }
}

@media(max-width : 480px){
  .sidebar{
    font-size: .8em;
    width: 24.5%;
  }
  .logo{
    width: 72px;
    height: 13%;
  }
  .nav ul{
    padding-left: 6%;
    margin-top: 80%;
  }
  .icon
  {
    width: 59%;
  }
  .social-media{
    margin-top: 64%;
    margin-left: 12%;
    .icon{     
      width: 57%;
    }
  }
  h1{
    margin-left: 49%;
  }
  .btn{
    margin-left: 148%;

  }
  hr{
    margin-left: 48%;
  }
  .card-body{
    width: 120%;
    margin-left: 49%;
  }
  .img-fluid{
    margin-left: 13%;
    width: 50%;
  }
  .card-text, strong{
    margin-left: 8%;
    font-size: 1rem;
  }
  .env{
    margin-left: 1.1%;
    width: 14.5%;
  }
  .zone-cmt{
    margin-left: -7%;
    width: 101%;
  }
  p{
    font-size: 1rem;
    margin-left: 1%;
   }
   .modif, .supp{
    width: 20%;
    margin-left: 10%;
  }
}
@media(max-width : 440px){
  .nav{
    display: none;
  }
  .social-media{display: none}
  .sidebar{display: none;}

  .sidebar-mobil {
    position: fixed;
    top: 0;left: 0%;
    width: 13%;
    height: 100%;
    background: $black;
    font-size: 0.69em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  
  }
  label input{
    margin-left:-83px;
    width: 19rem;
    margin-bottom: 3%;
  }

  .nav-mobil ul {
    list-style: none;
    margin-top: 70%;
    margin-left: 0;
    
    li {
      position: relative;
      margin: 2.5em 0;
      a {
        margin-left: -12%;
        line-height: 6em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.2em;
        color: rgba(255, 255, 255, 0.85);
        display: block;
        transition: all ease-out 300ms;
        .accueil{
          width: 65%;
          margin-top: 40%;
        }
      }
      &:not(.active):hover a {
        color: #FF1214;
      }
    }
  }  
    a {
      position: relative;
    }
  
    .logo{
      position: absolute;
      top: 8px;
      left:25px;
      width: 52px;
      height: 7%;
      filter: brightness(1.5);
      filter: saturate(150%);
    }
  
    .social-media-mobil{
      z-index: 5;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-items: center;
      justify-content: space-evenly;
      margin-top: 20%;
      margin-left: 25%;
      background-attachment: fixed;
      .icon{     
        width:60%;
      }
    }
    
  }

@media (max-width : 350px){
  .card-body{
    width: 126%;
    margin-left: 52%;
  }
  .img-fluid{
    margin-left: 13%;
    width: 60%;
  }
  .card-text, strong{
    margin-left: 8%;
    font-size: 1rem;
  }
  .env{
    margin-left: 4.1%;
    width: 21%;
  }
  .zone-cmt{
    margin-left: -23%;
    width: 101%;
  }
  p{
    font-size: 1rem;
    margin-left: 1%;
   }
   .modif, .supp{
    width: 22%;
    margin-left: 10%;
  }

}
